.joke {
  /* font-weight: bolder; */
  color: green;
}
.joke-side-heading {
  color: red;
}
.punch {
  /* font-weight: bolder; */
  color: red;
}
.punch-side-heading {
  color: green;
}
.ruler {
  border: none;
  height: 5px;
  background-color: purple;
}
.pun {
  color: tomato;
  font-size: large;
  font-weight: 900;
}
